{% extends 'layouts/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user %}
        <p>{{ app.user.nom }} déconnecté le :{{ app.user.lastLog |date('Y/m/d H:m') }}</p>
        <h1>Bonjour portail</h1>
        <div class="usersChanged">
            <h2>{{ usersChanged | length }} utilisateurs modifiés depuis la dernière connexion</h2>
            {% for userChanged in usersChanged %}
                <a href="{{ path('app_user_show', { id: userChanged.id }) }}" class='link-primary' style="color:red;"><span>{{ userChanged.nom }}</span><span>{{ userChanged.prenom }}</span></a>
            {% endfor %}
        </div>
        <div class="usersNotChanged">
            {% for userNotChanged in usersNotChanged %}
                <a href="{{ path('app_user_show', { id: userNotChanged.id }) }}" class='link-primary'><span>{{ userNotChanged.nom }}</span><span>{{ userNotChanged.prenom }}</span></a>
            {% endfor %}
        </div>
    {% else %}
        <p>Bienvenu(e) dans le portail de compétence: veuiilez vous connecter<p>
    {% endif %}
{% endblock %}
