{% extends 'layouts/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user and not app.user.asLeft %}
        <div class="usersChanged">
            {% if usersUpdated %}
                <h2>{{ usersUpdated | length }} utilisateur(s) modifié(s) depuis la dernière connexion</h2>
                {% for userUpdated in usersUpdated %}
                    <a href="{{ path('app_user_show', { id: userUpdated.id }) }}" class='link-primary' style="color:red;"><span>{{ userUpdated.nom }}</span><span>{{ userUpdated.prenom }}</span></a>
                {% endfor %}
            {% endif %}
        </div>
        {% for user in users %}
            <p><a href="{{ path('app_user_show', { id: user.id}) }}">{{ user.nom }} {{ user.prenom }}</a></p>
        {% endfor %}
    {% elseif not app.user %}
        <p>Bienvenu(e) dans le portail de compétence: veuillez vous connecter<p>
    {% else %}
        <p>Vous êtes un ancen collaborateur: vous ne pouvez plus vous accéder à votre compte !</p>
    {% endif %}
{% endblock %}
