{% extends 'layouts/base.html.twig' %}

{% block title %}Portail{% endblock %}

{% block body %}
    {% if app.user and not app.user.asLeft  and (app.user.roles[0] in  ["ROLE_ADMIN", "ROLE_COM"]) %}
        <div class="usersChanged">
            {% if usersUpdated %}
                <h2>{{ usersUpdated | length }} profil(s) modifié(s) depuis la dernière connexion</h2>
                <h2>{{ collChanged | length }} <span class="bg-warning">collaborateurs(s)</span> modifié(s) depuis la dernière connexion</h2>
                <h2>{{ candChanged | length }} <span class="bg-primary">candidat(s)</span> modifié(s) depuis la dernière connexion</h2>
                <h2>{{ newColl | length }} <span class="bg-success">Nouveau(x) collaborateur(s)</span> depuis la dernière connexion</h2>
                <h2>{{ newCand | length }} <span class="bg-secondary">Nouveau(x) Candidat(s)</span> depuis la dernière connexion</h2>
            {% endif %}
        </div>
        {% for user in users %}
            <p class='d-inline-block 
            {% if user in collChanged %}
                bg-warning
            {% elseif user in candChanged %} 
                bg-primary text-success 
            {% elseif user in newColl %}  
                bg-success
            {% elseif user in newCand %}
                bg-secondary
            {% else %}
                bg-info
            {% endif %} 
            mx-4 p-3 rounded'><a href="{{ path('app_user_show', { id: user.id}) }}" class="text-dark">{{ user.nom }} {{ user.prenom }}</a></p>
        {% endfor %}
    {% elseif not app.user %}
        <p>Bienvenu(e) dans le portail de compétence: veuillez vous connecter<p>
    {% else %}
        <p>vous ne pouvez seulement voir votre profil !</p>
    {% endif %}
{% endblock %}
