{% extends "layouts/base.html.twig" %}

{% block title %}modification{{ user.id }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>modification utilisateur</h1>
            {{ form_start(form) }}
                {{ form_widget(form.nom) }}
                {{ form_widget(form.prenom) }}
                {{ form_widget(form.adresse) }}
                {{ form_widget(form.codePostal) }}
                {{ form_widget(form.ville) }}
                {{ form_widget(form.email) }}
                {{ form_widget(form.telephone) }}
                {% if is_granted('ROLE_ADMIN') %}
                    <p>role actuel: {{ user.roles[0] }}</p>
                    {# {{ form_widget(form.newroles) }} #}
                {% endif %}
            {{ form_end(form) }}
            {# {{ include('layouts/partials/_form.html.twig', {'submitBottomText': 'modifier'}) }} #}
        </div>
    </div>
    

{% endblock %}