{% extends 'layouts/base.html.twig' %}

{% block title %}{{ user.nom }}{{ user.prenom }}{% endblock %}

{% block body %}
    {% if app.user and (app.user.id == user.id or (is_granted('ROLE_ADMIN') or is_granted('ROLE_COM')))%}
        <h1 class='text-center text-primary d-inline'>{{ user.prenom }} {{ user.nom }}: </h1>
        {% if user.roles[0] == 'ROLE_CAND' and user.asLeft %}
            <h2 class="d-inline mx-3">Candidat, ancien collaborateur</h2>
        {% elseif user.roles[0] == 'ROLE_CAND' %}
            <h2 class="d-inline">Candidat</h2>
        {% elseif user.roles[0] == 'ROLE_COLL' %}
            <h2 class="d-inline">Collaborateur</h2>
        {% endif %}
        <div class="informations d-flex justify-content-center mx-1">
            <div class="user-comp mx-1">
                <h2>Coordonnées:</h2>
                <div class="coordonnees px-1">
                        <p>Nom: {{ user.nom }}</p>
                        <p>Prenom: {{ user.prenom }}</p>
                        <p>Email: {{ user.email }}</p>
                        <p>Adresse: {{ user.adresse }}</p>
                        <p>Ville: {{ user.ville }}</p>
                        <p>Code postal: {{ user.codePostal }}</p>
                        <p>Téléphone: {{ user.telephone }}</p>
                        <p>Date création: {{ user.createdAt | date('Y/m/d')}}</p>
                        <p>À: {{ user.createdAt | date('H:i:s')}}</p>
                        {% if app.user.id == user.id or is_granted('ROLE_ADMIN') or is_granted('ROLE_COM') %}
                            <div class="cta mt-3 mb-2">
                                {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('app_user_edit', { id: user.id }) }}" class='btn btn-primary'>Modifier</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_user_delete', { id: user.id }) }}" class='btn btn-danger'>Supprimer</a>
                                {% endif %}
                            </div>
                        {% endif %}
                </div>
                <h2>Documents</h2>
                <div class="doc border border-dark p-2">
                    {% for document in user.documents %}
                        <a href="{{ asset('uploads/brochures/' ~ document.name) }}">{{ document.name }}</a>
                    {% endfor %}
                    <br />
                    {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('app_document_create', { id: user.id }) }}" class="d-inline-block btn btn-primary p-1 my-1">Ajouter un document</a>
                    {% endif %}
                </div>
            </div>
            <div class="nextInfo mx-2 my-3">
                <h2 class="exp">Expériences:</h2>
                <a href="{{ path('app_experience_create', { id: user.id }) }}" class="btn btn-primary mb-2">Ajouter une expérience</a>
                <div class="containerExperience mb-1 px-2">
                    {% for experience in user.exp %}
                        <div class="oneExp">
                            DU <span class="text-dark d-inline-block bg-info p-1"> {{ experience.beginAt | date('Y/m/d') }} </span>
                            AU<span class="text-dark d-inline-block bg-info p-1"> {{ experience.stopAt | date('Y/m/d') }}</span>
                            <p>Descrition: {{ experience.description }}</p>
                            <p>fonction: {{ experience.fonction }}</p>
                            <p>Réalisation: {{ experience.realisation }}</p>
                            <p>Lieu: {{ experience.lieu }}</p>
                            {% if experience.entreprise %}
                                <p>Entreprise: {{ experience.entreprise.getNom() }}</p>
                            {% else %}
                                <p>Entreprise: pas dans la BDD</p>
                            {% endif %}
                            <p>Contexte: {{ experience.contexte }}</p>
                            <p>Environnement technique: {{ experience.technique }}</p>
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('app_experience_delete', {id: experience.id}) }}" class="btn btn-danger">Supprimer</a>
                            {% endif %}
                            <a href="{{ path('app_experience_edit', {id: experience.id}) }}" class="btn btn-primary">Modifier</a>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
                <div class="containerCompetences">
                    <h2 class="comp">Compétences:</h2>
                    {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_COLL")%}
                    <a href="{{ path('app_user_add_competence', { id: user.id}) }}" class="btn btn-primary mb-2">Ajouter une competence</a>
                    {% endif %}
                    <div class="competences px-2">
                    {% for cate, competences in lescompetences %}
                        <p class="text-primary">{{ cate }}</p>
                        {% for competence in competences %}
                            <p>Competence: {{ competence[0] }}</p>
                            <p>niveau: {{ competence[1] }}</p>
                            <p>Appetence: {{ competence[2] }}</p>
                            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_COLL")%}
                            <a href="{{ path('app_competences_modify', { id: competence[3], user: user.id}) }}" class="btn btn-primary mb-2">Modifier la compétence</a>
                            {% endif %}
                            <hr>
                        {% endfor %}
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Vous devez être connecté en tant que commercial ou administrateur pour voir un profil</p>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Accueil</a>
    {% endif %}
{% endblock %}