{% extends 'layouts/base.html.twig' %}

{% block title %}{{ user.nom }}{{ user.prenom }}{% endblock %}

{% block body %}
    <p>Nom: {{ user.nom }}</p>
    <p>Prenom: {{ user.prenom }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Adresse: {{ user.adresse }}</p>
    <p>Code postal: {{ user.codePostal }}</p>
    <p>Téléphone: {{ user.telephone }}</p>
    <p>Date création: {{ user.createdAt | date('Y/m/d')}}</p>
    <div class="cta">
        <a href="{{ path('app_user_mod', { id: user.id }) }}" class='btn btn-primary'>Modifier</a>
        <a href="{{ path('app_user_delete', { id: user.id }) }}" class='btn btn-danger'>Supprimer</a>
    </div>
{% endblock %}