<header class='mx-0 d-flex navigation'>
    <h2 class="bg-dark p-2 rounded align-middle my-1"><a href="{{ path('app_home') }}" class="tex-primary text-center">Portail de compétences</a></h2>
    <ul class="d-flex justify-content-between my-4">
        {% if app.user %}
            <li><a href="{{ path('app_user_create') }}">Créer un profil</a></li>
            <li class="deroulant1">Mon profil
                <ul class="sous1">
                    <li><a href="{{ path('app_user_show', {id: app.user.id}) }}">Changer mon profil</a></li>
                    <li><a href="{{ path('app_reset_password') }}">Changer mot de passe</a></li>
                </ul>
            </li>
            <li class='deroulant1'>Modifications
                <ul class="sous1">
                    <li class='deroulant2'>Compétences
                        <ul class='sous2'>
                            <li><a href="{{ path('app_add_competences') }}">Ajouter</a></li>
                            <li><a href="{{ path('app_show_competences') }}">Modifier/Supprimer</a></li>
                        </ul>
                    </li>
                    <li class='deroulant2'>Entreprise
                        <ul class='sous2'>
                            <li><a href="{{ path('app_add_entreprise') }}">Ajouter</a></li>
                            <li><a href="{{ path('app_show_entreprise') }}">Modifier/Supprimer</a></li>
                        </ul>
                    </li>
                    <li class='deroulant2'>Catégories
                        <ul class='sous2'>
                            <li><a href="{{ path('app_add_category') }}">Ajouter</a></li>
                            <li><a href="{{ path('app_show_category') }}">Autres</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{{ path('app_logout')}}">Se déconnecter</a></li>
            <li class='deroulant1'>Recherches
                <ul class='sous1'>
                    <li><a href="{{ path('app_search_name') }}">par Nom</a></li>
                    <li><a href="{{ path('app_search_competences') }}">par Compétences</a></li>
                    <li><a href="">par compétences préférées</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        {% endif %}
    </ul>
</header>
