<aside class='mx-0 navigation'>
    <h2><a href="{{ path('app_home') }}" class="tex-muted text-center">Portail de compétences</a></h2>
    <ul>
        {% if app.user %}
            <li><a href="{{ path('app_user_create') }}">Créer un profil</a></li>
            <li><a href="{{ path('app_user_show', {id: app.user.id}) }}">Mon profil</a></li>
            <li class='list-modif'>Modifications
                <ul class="item-modifications">
                    <li class='list-comp'>Compétences
                        <ul class='item-comp'>
                            <li><a href="{{ path('app_add_competences') }}">Ajouter</a></li>
                            <li><a href="{{ path('app_show_competences') }}">Modifier/Supprimer</a></li>
                        </ul>
                    </li>
                    <li class='list-ent'>Entreprise
                        <ul class='item-ent'>
                            <li><a href="{{ path('app_add_entreprise') }}">Ajouter</a></li>
                            <li><a href="{{ path('app_show_entreprise') }}">Modifier/Supprimer</a></li>
                        </ul>
                    </li>
                    <li class='list-cat'>Catégories
                        <ul class='item-cat'>
                            <li><a href="{{ path('app_add_category') }}">Ajouter</a></li>
                            <li><a href="{{ path('app_show_category') }}">Modifier/Supprimer</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
            <li><a href="{{ path('app_search') }}">Recherches</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        {% endif %}
    </ul>
</aside>
