{% extends "layouts/base.html.twig" %}

{% block title %} recherche {% endblock %}

{% block body %}
    <h1>Faites une recherche par compétence et par appétence</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
    {% if not users %}
        <h2>Pas de résultat pour la recherche</h2>
    {% else %}
        {% for user in users %}
            <p>Nom: {{ user.nom }}</p>
            <p>Prenom: {{ user.prenom }}</p>
            <a href="{{ path('app_user_show', {id: user.id}) }}">Voir la fiche</a>
        {% endfor %}
    {% endif %}
{% endblock %}